<h1 class="header">Kel's Cakes</h1>
<h2>Delicious cakes, amazing memories</h2>
 <%= image_tag("http://images.media-allrecipes.com/userphotos/250x250/00/70/88/708879.jpg" , class: "img-responsive") %>

<p>Welcome! The date and time is <%= Time.now %></p>


